.container {
	width: 93.5%;
	padding: 3.25%;
	max-width: 1024px; 
	background: yellow;
	float: left;

}

header {
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
}

nav {
	background: #443505;
	float: left;
	width: 100%;
	border-top: 10px solid #ffbb00;
}


nav ul {
	
}

nav ul li {
	float: left;
}

nav ul li a {
	background: none;
	display: block;
	padding: 1em 2em;
	float: left;
	text-decoration: none;
	color: #f5d313;
	font-size: 1.5em;
	transition: all 1s;
}



@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	
}

@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	
}