.container {
	width: 100%;
	float: left;
	overflow: hidden;
}

article {
	background: #e8e0a4;
	float: left;
	width: 94%;
	padding: 0 3.25%;
	font-family: 'GriffosFontRegular';
	overflow: hidden;
}

.content_loading_container {
		padding: 3.25% 0;
		float: left;
		width: 93.5%
}

header {
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
}

nav {
	background: #272007;
	float: left;
	width: 94%;
	padding: 3.25%;
	border-top: 10px solid #ffbb00;
}



nav ul {
	display: block;
	float: left;
}

nav ul li {
	float: left;
}

nav ul li a {
	padding: 2.5% 1em 2.5% 0;
	text-decoration: none;
	color: #f5d313;
	font-size: 1.5em;
	font-family: 'KingthingsCalligraphica2Rg', serif;
}

nav ul li a span {
	font-size: .8em;
	margin:  0 .35em 0 0;

}

.socialmedia {
	float: right;
}

.socialmedia li a {
	float: right;
	padding: 2.5% .125em;
}

/** Typography **/
h1, h2, h3, h4, h5, h6 { 
font-family: 'KingthingsCalligraphica2Rg', serif;


}

h1 {
	font-size: 3.5em;
	margin: 0 0 .2em 0;	
}

h2 {
	font-size: 2.0em;
	margin: 1em 0 .25em 0;

}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {
	
}

p {
	font-size: 1.25;
	margin:  0 0 2% 0;
	line-height: 1.6em;

}

.characters {
	width: 100%;
}

.characters li {
	display: block;
	
		
}

.characters li a {
	font-size: 1.5em;
	width: 31.3%;
	float: left;
	margin: 0 3% 2% 0;
	text-align: center;
	
}

.characters li:nth-of-type(3n) a {
	margin-right: 0;
}
.characters li a span {
	overflow: hidden;
	height: 150px;
	display: block;
	
}
.characters li a img {
	width: 100%;
	clear: both;
}
 

.charimg {
		width: 25%;
		margin: 0 2% 2% 0;
		float: left;
	}
	
/** Gallery **/

section.gallery {
	float: left;
}

section.gallery aside {
	float: left;
}

section.gallery aside a {
	width: 15%;
	margin: 2.5%;
	height: 50px;
	overflow: hidden;
	float: left;
}

section.gallery aside a img {
	width: 100%;
	float: left;
}

.bigimages {
	float: left;
}
.bigimages img {
	float: left;
}

.galleryviewer {
	width: 100%;
}

/** Cast **/

section.cast {
	float: left;
}

section.cast ul {
	float: left;
}

section.cast ul li {
	margin: 0 0 1em 0;
	display: block;
}

section.cast ul li a {
	text-decoration: none;
	color: #f00;
}

/** Home **/

section.home {
	float: left;
}

section.home img {
	margin: 10% 15% 0% 15%;
	width: 70%;
}

section.home p {
	margin: 0 15%;
	width: 70%;
	font-size: 1.5em;
	text-align: center;
	
}

/** Videos **/
section.video {
	float: left;
	width: 100%;
}
	
section.video video {
	float: left;
	width: 45%;
}

section.video video:first-of-type {
	margin: 0 5% 0 0;
}


@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

	.content_container {
		height: 650px;
		float: left;
		width: 1024px;		
	}
	
	
}

@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	
	.content_container {
		height: 966px;
		width: 768px;
	}
	
	content_loading_container {
	}
	
	section.gallery aside a {
		width: 20%;
	}
	
	section.home img {
		margin: 30% 15% 0% 15%;
}

}