.container {
	width: 100%;
	float: left;
	overflow: hidden;
}

article {
	background: #e8e0a4;
	float: left;
	width: 94%;
	padding: 0 3.25%;
	font-family: 'GriffosFontRegular';
	overflow: hidden;
}

.content_loading_container {
		padding: 3.25% 0;
}

header {
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
}

nav {
	background: #272007;
	float: left;
	width: 94%;
	padding: 3.25%;
	border-top: 10px solid #ffbb00;
}



nav ul {
	display: block;
	float: left;
}

nav ul li {
	float: left;
}

nav ul li a {
	padding: 2.5% 1em 2.5% 0;
	text-decoration: none;
	color: #f5d313;
	font-size: 1.5em;
	font-family: 'KingthingsCalligraphica2Rg', serif;
}

nav ul li a span {
	font-size: .8em;
	margin:  0 .35em 0 0;

}

.socialmedia {
	float: right;
}

.socialmedia li a {
	float: right;
	padding: 2.5% .125em;
}

/** Typography **/
h1, h2, h3, h4, h5, h6 { 

}

h1 {
	font-family: 'KingthingsCalligraphica2Rg', serif;
	font-size: 2.5em;	
}

h2 {

}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {
	
}

p {
	margin:  0 0 2% 0;
	line-height: 1.25em;
}



@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

	.content_container {
		height: 650px;
			
	}
	
		
}

@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
	
	.content_container {
		height: 966px;
	
	}
	
}